extends layout

block content
  .bg__image__page
    .login__wrapper.p-0.container.position-relative
      .login__container.bg__image__page2.middle__center__md.shadow.p-3.p-md-5
        h1 403 Forbidden