doctype html
html
  head
    title= title

    //- Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    //- Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(rel='stylesheet' href='https://unpkg.com/shards-ui@latest/dist/css/shards.min.css')

    //- My styles
    link(rel='stylesheet' href='/stylesheets/toastify.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body.bg-white
    .image__handle__error__403