extends users.pug

block var
  -var currentURL = '/change-password'

block content
  h4(style='color: #3d5170').text-center.font-weight-bold Change password
  form.w-75(action='/users/change-password' method='POST').mt-2.mx-auto
    input.d-none#users_change_password_email(name='email' value=user.email)
    .form-group
      input#old_password.form-control(name='old_password' type='password' placeholder='Current password' required)
    .form-group
      input#new_password.form-control(name='new_password' type='password' placeholder='New password' required)
    .form-group
      input#re_password.form-control(type='password' placeholder='Re-type new password' required)
    .text-center
      button#btn_change_password(disabled).btn.btn-primary Confirm and update