extends layout

block content
  section.bg__exams.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mx-auto
        .card.p-3.px-sm-4.pt-sm-4.pb-sm-3.px-md-5.pt-md-5.pb-md-4
          .mx-auto.question__summary.text-center 
            .h4.font-weight-bold You have completed your exam.
            a(href='/') Go to Home