extends layout

block content
  .container.login__container.mt-5
    .row.card.p-5
      .text-right
        a(href="/") Trang chủ
      .col-md-6.mt-4
        p.mb-0 Welcome to
        h2.mb-0 Stepping back
        h1.mb-0 IN HISTORY
        form.w-75.mt-5
          .form-group
            input(name="email", type="email" placeholder="Your email").form-control
          .form-group
            input(name="password", type="password" placeholder="Your password").form-control
          button(type="submit").btn.btn-block.btn-primary Login
          .text-center.mt-3
            span No account? &nbsp;
            a(href="/register") Register now!