extends layout

block content
  .bg__body
    .login__wrapper.p-0.container.position-relative
      .login__container.bg__image__page2.middle__center__md.shadow.p-3.p-md-5
        div Welcome to
        .h2.mb-0 Stepping back
        .h1.mb-0 IN HISTORY
        form(action='/users/login' method='POST').login__form.mt-5
          .form-group
            input.form-control(name='email' type='email' placeholder='Email' value= values ? values.email : '')
          .form-group
            input.form-control(name='password' type='password' placeholder='Password')
          button(type='submit').btn.btn-block.btn-primary Log in
          .text-center.small.mt-3
            span Don't have an account?&nbsp;
            a(href='/users/register') Register now!