extends layout

block content
  section.bg__exams.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-5.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3 Phần 3: Khám phá
          .h5.mx-auto.col-md-10.p-0
            p.mb-2 Tìm hiểu về địa lý, lịch sử, văn hóa và con người các địa phương thông qua việc trả lời các câu hỏi dựa trên bản đồ hành chính tỉnh Bà Rịa – Vũng Tàu.
            p.mb-2 Tại mỗi địa phương, thí sinh trả lời 02 câu hỏi trắc nghiệm. Mỗi câu trả lời đúng được 10 điểm, sai hoặc không đưa ra phương án trả lời bị trừ 05 điểm.
            p.mb-2 Ở phần thi này, thí sinh có quyền được đặt ngôi sao hy vọng 02 lần tương ứng với 02 câu hỏi tùy chọn, nếu trả lời đúng câu hỏi có ngôi sao hy vọng được 20 điểm, nếu trả lời sai bị trừ 10 điểm. Thời điểm đặt ngôi sao hy vọng sau khi hệ thống đã lựa chọn xong địa phương trên bản đồ.
            p.mb-2 Mỗi câu hỏi có tối đa 20s để đọc và trả lời!
          .text-center
            a.btn.btn-primary(href="/exams/section-3") Bắt đầu