extends layout

block content
  section.bg__exams.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3.ready__title Round 3: Exploration
          .ready__content.h5.mx-auto.col-md-10.p-0
            p.mb-2 Look at the administrative map of Ba Ria – Vung Tau. There are 02 multiple choice questions about each district on the map. With one correct answer, you will get 10 points. With the wrong answer or no answer, you will lose 5 points. For this round, you can choose to get the bonus with the “The Lucky Star” TWICE. You will get 20 points for a correct answer and lose 10 points for the wrong one. The “The Lucky Star” will appear after you choose the district.
            p.mb-2 You will have 30 seconds for each question!
          .text-center
            a.btn.btn-primary(href="/exams/section-3") Let's go