extends layout

block content
  section.bg__exams.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-5.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3 P1: Ngược dòng thời gian
          .h5.mx-auto.col-md-8.p-0
            p.mb-2 Trả lời 10 câu hỏi dạng trắc nghiệm 4 phương án trả lời (A, B, C, D) về các sự kiện lịch sử của tỉnh Bà Rịa – Vũng Tàu, cuộc đời và sự nghiệp của Bác Hồ.
            p.mb-2 Mỗi câu hỏi có tối đa 20s để đọc và trả lời!
          .text-center
            a.btn.btn-primary(href="/exams/section-1") Bắt đầu