extends layout

block content
  .container.py-3.min-vh-100
    .card.question__wrapper.middle__center.text-center.p-4.p-md-5
      h3 P1: Ngược dòng thời gian
      .text-center
        a.btn.btn-primary(href="/section-1") Bắt đầu