extends layout

block content
  section.bg__exams.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3.ready__title Round 1: Trace back the history
          .ready__content.h5.mx-auto.col-md-10.p-0
            p.mb-2 Choose the correct answer (A, B, C or D) for 10 questions about historical events of Ba Ria Vung Tau, life and career of Unclo Ho.
            p.mb-2 You will have 30 seconds for each question!
          .text-center
            a.btn.btn-primary(href="/exams/section-1") Let's go