extends layout

block content
  section.bg__5.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3.ready__title Round 4: Matching
          .ready__content.h5.mx-auto.col-md-10.p-0
            p.mb-2 Match the information in column A with the answer in column B. All the questions in this round will be about the history, geography, culture and people of all the districts of Ba Ria – Vung Tau as well as the accomplishments that Ba Ria – Vung Tau have achieved.
            p.mb-2 10 points for each correct answer. You will NOT lose any points with the wrong answer.
          .text-center
            a.btn.btn-primary(href="/exams/section-4") Let's go