extends layout

block content
  section.bg__exams.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-5.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3 Phần 2: Giải mã lịch sử
          .h5.mx-auto.col-md-10.p-0
            p.mb-2 Trả lời 8 câu hỏi dạng trắc nghiệm 4 phương án trả lời (A, B, C, D) cùng với hình ảnh được chọn về các sự kiện, địa danh, nhân vật lịch sử.
            p.mb-2 Mỗi câu hỏi có tối đa 20s để đọc và trả lời!
          .text-center
            a.btn.btn-primary(href="/exams/section-2") Bắt đầu