extends layout

block content
  section.bg__exams.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3.ready__title Round 2: History puzzle
          .ready__content.h5.mx-auto.col-md-10.p-0
            p.mb-2 There are 08 questions about historical events, historical sites and historical people. Choose the correct answer (A, B, C or D)
            p.mb-2 You will have 30 seconds for each question!
          .text-center
            a.btn.btn-primary(href="/exams/section-2") Let's go