extends layout-admin.pug

block var
  -var currentURL = '/questions/section-4'
  -var title = 'Phần 4 - Tạo câu hỏi'

block content
  h5.font-weight-bold(style='color: #3d5170; padding-left: 15px') Phần 4 ➡ Tạo câu hỏi
  .row.m-0
    .col-12.p-0.px-lg-3
      .card.p-3.px-md-5.py-md-4
        .d-flex
          small.ml-auto.mb-2
            if deThi !== null
              a(href='/questions/section-4') Đã có #{deThi.questions.length} câu hỏi
            else
              | Đề thi chưa có câu hỏi
        form(method='POST').row
          input.d-none(name='name' value='Phần 4')
          input.d-none(name='code' value='P04')
          if deThi !== null
            -var deThiCuoi = deThi.questions.length - 1
            input.d-none#cauHoiCuoiCuaDeThi(name='questions[0][code]' value=`${deThi.questions[deThiCuoi].code}`)
          else
            input.d-none(name='questions[0][code]' value='Q01')
          .form-group.col-12
            textarea(name='questions[0][question]' placeholder="Câu hỏi").form-control
          .d-flex.form-group.col-12
            .custom-control.custom-radio
              if deThi !== null
                -var deThiCuoi = deThi.questions.length - 1
                input.custom-control-input.cauHoiCuoiCuaDeThiAnwser#answer1(type='radio' checked name='questions[0][true]' value=`${deThi.questions[deThiCuoi].code}`)
              else
                input.custom-control-input#answer1(type='radio' checked name='questions[0][true]' value='Q01')
              label.custom-control-label(for="answer1")
            textarea(name='questions[0][a]' placeholder="Câu trả lời đúng").form-control
          .col-12
            button(type="submit").btn.btn-block.btn-primary Tạo
  script.
    if (document.querySelector('#cauHoiCuoiCuaDeThi') !== null) {
      var cauHoiCuoiCuaDeThi = document.querySelector('#cauHoiCuoiCuaDeThi').value
      cauHoiCuoiCuaDeThi = cauHoiCuoiCuaDeThi.slice(1)
      cauHoiCuoiCuaDeThi = parseInt(cauHoiCuoiCuaDeThi) + 1
      if (parseInt(cauHoiCuoiCuaDeThi) < 10) {
        cauHoiCuoiCuaDeThi = 'Q0' + cauHoiCuoiCuaDeThi
      } else {
        cauHoiCuoiCuaDeThi = 'Q' + cauHoiCuoiCuaDeThi
      }
      document.querySelector('#cauHoiCuoiCuaDeThi').value = cauHoiCuoiCuaDeThi
      document.querySelector('.cauHoiCuoiCuaDeThiAnwser').value = cauHoiCuoiCuaDeThi
    }
