nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm.py-2
  a.font-weight-normal.navbar-brand.font-weight-bold.mr-0(href='/' style="color: #3d5170") STEPPING BACK IN HISTORY
  //- a.navbar-brand.font-weight-bold.mr-0(href='/' style="color: #3d5170") STEPPING BACK IN HISTORY
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.font-weight-normal.nav-link(href='/exams').font-weight-bold PLAY
      li.nav-item
        a.font-weight-normal.nav-link(href='/') Home
      li.nav-item
        a.font-weight-normal.nav-link(
            target='_blank'
            rel='noopener noreferrer'
            href='https://drive.google.com/file/d/1QZl00Mp7yfYE_6Xg1IT7DIKxCV4p0Ot9/view?usp=sharing')
          | Competition rules
      li.nav-item.dropdown
        if user
          a.font-weight-normal#navbarDropdownMenuLink.nav-link.dropdown-toggle.navbar__dropdown__toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            span #{user.name}
          .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
            a.font-weight-normal.dropdown-item(href='../users/me') Profile
            a.font-weight-normal.dropdown-item(href='../users/change-password') Change your password
            a.font-weight-normal.dropdown-item(href='../users/logout') Sign out
